.formWrapper {
    width: 100%;
    max-width: 700px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    z-index: 5;
    box-shadow: 1px 1px 20px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.submitted {
    opacity: 0;
    max-height: 200px;
}
.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
}
.buttonWrapper button {
    margin: 0 10px 0;
}
.button {
    width: 150px;
    text-transform: uppercase;
}
.successBlock {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
}
.show {
    opacity: 1;
    visibility: visible;
}
.successIcon svg {
    width: 50px;
    height: 50px;
    fill: green;
}
@media screen and (max-width: 1024px){
    .formWrapper {
        max-width: 95%;
    }
}
@media screen and (max-width: 576px){
    .formWrapper {
        padding: 15px;
    }
    .form label {
        max-height: 15px;
    }
    .formItem {
        margin-bottom: 10px!important;
    }
    .successBlock {
        width: 100%;
    }
}